# Model weights
*.safetensors
*.bin
*.pt

# HuggingFace cache
.mistral_base/
C:/Users/manas/.cache/huggingface/

# Python artifacts
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
# Virtual environments
venv/
